# Load Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

import warnings
warnings.filterwarnings('ignore')

import os
print(os.listdir('../../input'))

['sample_submission.csv', 'test_identity.csv', 'test_transaction.csv', 'train_identity.csv', 'train_transaction.csv']

# 1. Prepare Data

## 1.1 Load Datasets

In [2]:
df_train_t = pd.read_csv('../../input/train_transaction.csv', index_col='TransactionID')
df_train_i = pd.read_csv('../../input/train_identity.csv', index_col='TransactionID')
df_test_t = pd.read_csv('../../input/test_transaction.csv', index_col='TransactionID')
df_test_i = pd.read_csv('../../input/test_identity.csv', index_col='TransactionID')
sample_submission = pd.read_csv('../../input/sample_submission.csv')

print('train_transaction의 shape : ', df_train_t.shape)
print('train_identity의 shape : ', df_train_i.shape)
print('test_transaction의 shape : ', df_test_t.shape)
print('test_transaction의 shape : ', df_test_i.shape)

train_transaction의 shape :  (590540, 393)
train_identity의 shape :  (144233, 40)
test_transaction의 shape :  (506691, 392)
test_transaction의 shape :  (141907, 40)

## 1.2 Merge Datasets

In [3]:
df_train = df_train_t.merge(df_train_i, how='left', left_index=True, right_index=True)
df_test = df_test_t.merge(df_test_i, how='left', left_index=True, right_index=True)

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 2987000 to 3577539
Columns: 433 entries, isFraud to DeviceInfo
dtypes: float64(399), int64(3), object(31)
memory usage: 1.9+ GB

## 1.3 Divide Features by Categorical and Numerical

In [5]:
# cat_col_t : categorical columns in transaction dataset
cat_col_t = ['ProductCD','addr1','addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionDT']
cat_col_t.extend(['card' + str(x) for x in range(1,7)]) # card1 ~ card6
cat_col_t.extend(['M' + str(x) for x in range(1,10)]) # M1 ~ M9

# cat_col_i : categorical columns in identity dataset
cat_col_i = ['DeviceType', 'DeviceInfo']
cat_col_i.extend(['id_' + str(x) for x in range(12, 39)]) # id_12 ~ id_38

# cat_col : categorical columns in transaction and identity dataset
cat_col = [*cat_col_t, *cat_col_i]

In [6]:
# num_col_t : numerical columns in transaction dataset
num_col_t = [col for col in list(df_train_t.columns) if col not in [*cat_col_t, 'isFraud']]

# num_col_i : numerical columns in identity dataset
num_col_i = [col for col in list(df_train_i.columns) if col not in cat_col_i]

# num_col : numerical columns in transaction and identity dataset
num_col =[*num_col_t, *num_col_i]

In [7]:
print("number of transaction dataset's columns : ", df_train_t.shape[1])
print("cat_col_t's length : ", len(cat_col_t))
print("num_col_t's length : ", len(num_col_t))
print("sum of boths : ", len(cat_col_t) + len(num_col_t))

number of transaction dataset's columns :  393
cat_col_t's length :  21
num_col_t's length :  371
sum of boths :  392

In [8]:
print("number of transaction dataset's columns : ", df_train_i.shape[1])
print("cat_col_i's length : ", len(cat_col_i))
print("num_col_i's length : ", len(num_col_i))
print("sum of boths : ", len(cat_col_i) + len(num_col_i))

number of transaction dataset's columns :  40
cat_col_i's length :  29
num_col_i's length :  11
sum of boths :  40

# 2. Summary of Features

In [3]:
def make_cat_summary(df, features) :

    summary = df[features].dtypes.reset_index()
    summary.rename(columns={'index': 'Name', 0: 'Dtype'}, inplace=True)
    summary['DataSets'] = ['transaction' if col in cat_col_t else 'identity' for col in features]
    summary['NullCnt'] = [df[col].isnull().sum() for col in features]
    summary['NullRt'] = [np.round((df[col].isnull().sum())/df.shape[0], 2) for col in features]
    summary['UniqueCnt'] = [df[col].nunique() for col in features]
    Values = []
    for col in features :
        if df[col].nunique() <= 5 :
            val = list(df[col].value_counts().reset_index()['index'])
            val.sort()
            Values.append(', '.join(str(v) for v in val))
        else :
            Values.append('-')    
    summary['Values'] = Values
    summary['MinValue'] = [df.loc[df[col].notnull(), col].min() for col in features]
    summary['MaxValue'] = [df.loc[df[col].notnull(), col].max() for col in features]
    
    return summary

In [4]:
cat_summary = make_cat_summary(df_train, cat_col)
cat_summary

NameError: name 'df_train' is not defined

In [11]:
def make_num_summary(df, features) :
    
    summary = df[features].dtypes.reset_index()
    summary.rename(columns={'index': 'Name', 0: 'Dtype'}, inplace=True)
    summary['DataSets'] = ['transaction' if col in num_col_t else 'identity' for col in features]
    summary['NullCnt'] = [df[col].isnull().sum() for col in features]
    summary['NullRt'] = [np.round((df[col].isnull().sum())/df.shape[0], 2) for col in features]
    summary['MinValue'] = [df.loc[df[col].notnull(), col].min() for col in features]
    summary['Q25'] = [df[col].quantile([0.25]).values[0] for col in features]
    summary['Q50'] = [df[col].quantile([0.50]).values[0] for col in features]
    summary['Q75'] = [df[col].quantile([0.75]).values[0] for col in features]
    summary['MaxValue'] = [df.loc[df[col].notnull(), col].max() for col in features]
    summary['Mean'] = [df.loc[df[col].notnull(), col].mean() for col in features]
    summary['Std'] = [df.loc[df[col].notnull(), col].std() for col in features]

    return summary

In [12]:
num_summary = make_num_summary(df_train, num_col)
num_summary

,Name,Dtype,DataSets,NullCnt,NullRt,MinValue,Q25,Q50,Q75,MaxValue,Mean,Std
0,TransactionAmt,float64,transaction,0,0.00,0.251,43.321000,68.769000,125.000000,31937.391000,135.027176,239.162522
1,dist1,float64,transaction,352271,0.60,0.000,3.000000,8.000000,24.000000,10286.000000,118.502180,371.872026
2,dist2,float64,transaction,552913,0.94,0.000,7.000000,37.000000,206.000000,11623.000000,231.855423,529.053494
3,C1,float64,transaction,0,0.00,0.000,1.000000,1.000000,3.000000,4685.000000,14.092458,133.569018
4,C2,float64,transaction,0,0.00,0.000,1.000000,1.000000,3.000000,5691.000000,15.269734,154.668899
5,C3,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,26.000000,0.005644,0.150536
6,C4,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,2253.000000,4.092185,68.848459
7,C5,float64,transaction,0,0.00,0.000,0.000000,0.000000,1.000000,349.000000,5.571526,25.786976
8,C6,float64,transaction,0,0.00,0.000,1.000000,1.000000,2.000000,2253.000000,9.071082,71.508467
9,C7,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,2255.000000,2.848478,61.727304
10,C8,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,3331.000000,5.144574,95.378574
11,C9,float64,transaction,0,0.00,0.000,0.000000,1.000000,2.000000,210.000000,4.480240,16.674897
12,C10,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,3257.000000,5.240343,95.581443
13,C11,float64,transaction,0,0.00,0.000,1.000000,1.000000,2.000000,3188.000000,10.241521,94.336292
14,C12,float64,transaction,0,0.00,0.000,0.000000,0.000000,0.000000,3188.000000,4.076227,86.666218
15,C13,float64,transaction,0,0.00,0.000,1.000000,3.000000,12.000000,2918.000000,32.539918,129.364844
16,C14,float64,transaction,0,0.00,0.000,1.000000,1.000000,2.000000,1429.000000,8.295215,49.544262
17,D1,float64,transaction,1269,0.00,0.000,0.000000,3.000000,122.000000,640.000000,94.347568,157.660387
18,D2,float64,transaction,280797,0.48,0.000,26.000000,97.000000,276.000000,640.000000,169.563231,177.315865
19,D3,float64,transaction,262878,0.45,0.000,1.000000,8.000000,27.000000,819.000000,28.343348,62.384721
20,D4,float64,transaction,168922,0.29,-122.000,0.000000,26.000000,253.000000,869.000000,140.002441,191.096774
21,D5,float64,transaction,309841,0.52,0.000,1.000000,10.000000,32.000000,819.000000,42.335965,89.000144
22,D6,float64,transaction,517353,0.88,-83.000,0.000000,0.000000,40.000000,873.000000,69.805717,143.669253
23,D7,float64,transaction,551623,0.93,0.000,0.000000,0.000000,17.000000,843.000000,41.638950,99.743264
24,D8,float64,transaction,515614,0.87,0.000,0.958333,37.875000,187.958328,1707.791626,146.058108,231.663840
25,D9,float64,transaction,515614,0.87,0.000,0.208333,0.666666,0.833333,0.958333,0.561057,0.316880
26,D10,float64,transaction,76022,0.13,0.000,0.000000,15.000000,197.000000,876.000000,123.982137,182.615225
27,D11,float64,transaction,279287,0.47,-53.000,0.000000,43.000000,274.000000,670.000000,146.621465,186.042622
28,D12,float64,transaction,525823,0.89,-83.000,0.000000,0.000000,13.000000,648.000000,54.037533,124.274558
29,D13,float64,transaction,528588,0.90,0.000,0.000000,0.000000,0.000000,847.000000,17.901295,67.614425
...,...,...,...,...,...,...,...,...,...,...,...,...
352,V321,float64,transaction,12,0.00,0.000,0.000000,0.000000,0.000000,104060.000000,28.326584,382.053171
353,V322,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,880.000000,6.220289,56.022561
354,V323,float64,transaction,508189,0.86,0.000,0.000000,0.000000,1.000000,1411.000000,13.103775,106.739813
355,V324,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,976.000000,9.184612,73.627893
356,V325,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,12.000000,0.058494,0.304415
357,V326,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,44.000000,0.851040,3.950295
358,V327,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,18.000000,0.296633,1.364356
359,V328,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,15.000000,0.336790,1.580144
360,V329,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,99.000000,1.312844,8.769083
361,V330,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,55.000000,0.775874,4.727971
362,V331,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,160000.000000,721.741883,6217.223583
363,V332,float64,transaction,508189,0.86,0.000,0.000000,0.000000,25.000000,160000.000000,1375.783644,11169.275702
364,V333,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,160000.000000,1014.622782,7955.735482
365,V334,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,55125.000000,9.807015,243.861391
366,V335,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,55125.000000,59.164550,387.629480
367,V336,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,55125.000000,28.530903,274.576920
368,V337,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,104060.000000,55.352422,668.486833
369,V338,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,104060.000000,151.160542,1095.034387
370,V339,float64,transaction,508189,0.86,0.000,0.000000,0.000000,0.000000,104060.000000,100.700882,814.946722
371,id_01,float64,identity,446307,0.76,-100.000,-10.000000,-5.000000,-5.000000,0.000000,-10.170502,14.347949
372,id_02,float64,identity,449668,0.76,1.000,67992.000000,125800.500000,228749.000000,999595.000000,174716.584708,159651.816856
373,id_03,float64,identity,524216,0.89,-13.000,0.000000,0.000000,0.000000,10.000000,0.060189,0.598231
374,id_04,float64,identity,524216,0.89,-28.000,0.000000,0.000000,0.000000,0.000000,-0.058938,0.701015
375,id_05,float64,identity,453675,0.77,-72.000,0.000000,0.000000,1.000000,52.000000,1.615585,5.249856
376,id_06,float64,identity,453675,0.77,-100.000,-6.000000,0.000000,0.000000,0.000000,-6.698710,16.491104
377,id_07,float64,identity,585385,0.99,-46.000,5.000000,14.000000,22.000000,61.000000,13.285354,11.384207
378,id_08,float64,identity,585385,0.99,-100.000,-48.000000,-34.000000,-23.000000,0.000000,-38.600388,26.084899
379,id_09,float64,identity,515614,0.87,-36.000,0.000000,0.000000,0.000000,25.000000,0.091023,0.983842
380,id_10,float64,identity,515614,0.87,-100.000,0.000000,0.000000,0.000000,0.000000,-0.301124,2.789446
381,id_11,float64,identity,449562,0.76,90.000,100.000000,100.000000,100.000000,100.000000,99.745325,1.127602

# 3. Feature Engineering

In [13]:
def value_acc_freq(df, col) :
        
    df_vc = df[col].value_counts().reset_index()
    df_vc.rename(columns={'index': 'value', col: 'cnt'}, inplace=True)
    df_vc['accCntRt'] = df_vc['cnt'].cumsum() / len(df[df[col].notnull()])
    
    return df_vc

In [14]:
def replace_to_others(df, col, rate=None, cnt=None) :
    
    df_vc = df[col].value_counts().reset_index()
    df_vc.rename(columns={'index': 'value', col: 'cnt'}, inplace=True)
    df_vc['accCntRt'] = df_vc['cnt'].cumsum() / len(df[df[col].notnull()])
    target_list = []
    
    if rate != None :
        target_list = list(df_vc[df_vc['accCntRt'] >= float(rate)]['value'])
    if cnt != None :
        target_list = list(df_vc[df_vc['cnt'] < int(10)]['value'])
        
    dataType = str(df_vc['value'].values.dtype)
    replace_value = 'OTHERS'
    if dataType.find('int') == 0 :
        replace_value = int(99999)
    elif dataType.find('float') == 0 :
        replace_value = float(99999)
    
    df.loc[df[col].isin(target_list), col] = replace_value

## 3.1 Categorical Features

In [15]:
def cat_feature_engineering(df) :
    # addr1
    replace_to_others(df, 'addr1', rate=0.95)

    # addr2
    replace_to_others(df, 'addr2', cnt=10)

    # P_emaildomain
    df.loc[df['P_emaildomain'].str.contains('gmail', na=False), 'P_emaildomain'] = 'GMAIL'
    df.loc[df['P_emaildomain'].str.contains('yahoo', na=False), 'P_emaildomain'] = 'YAHOO'
    df.loc[df['P_emaildomain'].str.contains('hotmail', na=False), 'P_emaildomain'] = 'HOTMAIL'
    df.loc[df['P_emaildomain'].str.contains('live', na=False), 'P_emaildomain'] = 'LIVE'
    df.loc[df['P_emaildomain'].str.contains('netzero', na=False), 'P_emaildomain'] = 'NETZERO'
    df.loc[df['P_emaildomain'].str.contains('outlook', na=False), 'P_emaildomain'] = 'OUTLOOK'
    replace_to_others(df, 'P_emaildomain', cnt=250)

    # R_emaildomain
    df.loc[df['R_emaildomain'].str.contains('gmail', na=False), 'R_emaildomain'] = 'GMAIL'
    df.loc[df['R_emaildomain'].str.contains('yahoo', na=False), 'R_emaildomain'] = 'YAHOO'
    df.loc[df['R_emaildomain'].str.contains('hotmail', na=False), 'R_emaildomain'] = 'HOTMAIL'
    df.loc[df['R_emaildomain'].str.contains('live', na=False), 'R_emaildomain'] = 'LIVE'
    df.loc[df['R_emaildomain'].str.contains('netzero', na=False), 'R_emaildomain'] = 'NETZERO'
    df.loc[df['R_emaildomain'].str.contains('outlook', na=False), 'R_emaildomain'] = 'OUTLOOK'
    replace_to_others(df, 'R_emaildomain', cnt=80)

    # TransactionDT
    # Reference : https://www.kaggle.com/shkim4738/extensive-eda-and-modeling-xgb-hyperopt
    import datetime

    START_DATE = '2017-12-01'
    startdate = datetime.datetime.strptime(START_DATE, '%Y-%m-%d')
    df['Date'] = df['TransactionDT'].apply(lambda x : (startdate + datetime.timedelta(seconds=x)))

    df['Weekdays'] = df['Date'].dt.dayofweek
    df['Hours'] = df['Date'].dt.hour
    df['Days'] = df['Date'].dt.day

    df.drop(['Date'], axis=1, inplace=True)

    # DeviceInfo
    df.loc[df['DeviceInfo'].str.contains('SAMSUNG', na=False), 'DeviceInfo'] = 'SAMSUNG'
    df.loc[df['DeviceInfo'].str.contains('SM', na=False), 'DeviceInfo'] = 'SM'
    df.loc[df['DeviceInfo'].str.contains('rv', na=False), 'DeviceInfo'] = 'RV'
    df.loc[df['DeviceInfo'].str.contains('Moto', na=False), 'DeviceInfo'] = 'MOTO'
    df.loc[df['DeviceInfo'].str.contains('HUAWEI', na=False), 'DeviceInfo'] = 'HUAWEI'
    df.loc[df['DeviceInfo'].str.contains('Huawei', na=False), 'DeviceInfo'] = 'HUAWEI'
    df.loc[df['DeviceInfo'].str.contains('LG-', na=False), 'DeviceInfo'] = 'LG'
    df.loc[df['DeviceInfo'].str.contains('Android', na=False), 'DeviceInfo'] = 'ANDROID'
    df.loc[df['DeviceInfo'].str.contains('Linux', na=False), 'DeviceInfo'] = 'LINUX'
    df.loc[df['DeviceInfo'].str.contains('HTC', na=False), 'DeviceInfo'] = 'HTC'
    df.loc[df['DeviceInfo'].str.contains('Hisense', na=False), 'DeviceInfo'] = 'HISENSE'
    df.loc[df['DeviceInfo'].str.contains('Blade', na=False), 'DeviceInfo'] = 'BLADE'
    df.loc[df['DeviceInfo'].str.contains('BLADE', na=False), 'DeviceInfo'] = 'BLADE'
    df.loc[df['DeviceInfo'].str.contains('ASUS', na=False), 'DeviceInfo'] = 'ASUS'
    df.loc[df['DeviceInfo'].str.contains('Redmi', na=False), 'DeviceInfo'] = 'REDMI'
    df.loc[df['DeviceInfo'].str.contains('iOS', na=False), 'DeviceInfo'] = 'iOS'
    df.loc[df['DeviceInfo'].str.contains('MacOS', na=False), 'DeviceInfo'] = 'MacOS'
    device = ['SAMSUNG','SM','RV','MOTO','HUAWEI','LG','ANDROID','LINUX','HTC','HISENSE','BLADE','ASUS','REDMI',
              'Windows','iOS', 'MacOS', 'Trident/7.0']
    df.loc[(~df['DeviceInfo'].isin(device)) & (df['DeviceInfo'].notnull()), 'DeviceInfo'] = 'OTHERS'

    # id_30
    df.loc[df['id_30'].str.contains('Windows', na=False), 'id_30'] = 'WINDOWS'
    df.loc[df['id_30'].str.contains('iOS', na=False), 'id_30'] = 'iOS'
    df.loc[df['id_30'].str.contains('Mac OS X', na=False), 'id_30'] = 'MacOS'
    df.loc[df['id_30'].str.contains('Android', na=False), 'id_30'] = 'ANDROID'

    # id_31
    df.loc[df['id_31'].str.contains('chrome', na=False), 'id_31'] = 'CHROME'
    df.loc[df['id_31'].str.contains('firefox', na=False), 'id_31'] = 'FIREFOX'
    df.loc[df['id_31'].str.contains('edge', na=False), 'id_31'] = 'EDGE'
    df.loc[df['id_31'].str.contains('ie ', na=False), 'id_31'] = 'IE'
    df.loc[df['id_31'].str.contains('safari', na=False), 'id_31'] = 'SAFARI'
    df.loc[df['id_31'].str.contains('opera', na=False), 'id_31'] = 'OPERA'
    df.loc[df['id_31'].str.contains('samsung', na=False), 'id_31'] = 'SAMSUNG'
    df.loc[df['id_31'].str.contains('Samsung', na=False), 'id_31'] = 'SAMSUNG'
    df.loc[df['id_31'].str.contains('android', na=False), 'id_31'] = 'ANDROID'
    df.loc[df['id_31'].str.contains('Android', na=False), 'id_31'] = 'ANDROID'
    device2 = ['CHROME','FIREFOX','EDGE','IE','SAFARI','OPERA','SAMSUNG','ANDROID']
    df.loc[(~df['id_31'].isin(device2)) & (df['id_31'].notnull()), 'id_31'] = 'OTHERS'

    # id_33
    replace_to_others(df, 'id_33', cnt=10)

In [16]:
cat_feature_engineering(df_train)
cat_feature_engineering(df_test)

In [17]:
cat_col_t.extend(['Weekdays','Hours','Days'])
cat_col = [*cat_col_t, *cat_col_i]

## 3.2 Numerical Features

생략

## 3.3 Missing Values

In [18]:
cat_col_null_over90 = list(cat_summary.loc[cat_summary['NullRt'] >= float(0.9), 'Name'].values)
num_col_null_over90 = list(num_summary.loc[num_summary['NullRt'] >= float(0.9), 'Name'].values)
col_null_over90 = [*cat_col_null_over90, *num_col_null_over90]
col_null_over90

['id_18',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'dist2',
 'D7',
 'D13',
 'id_07',
 'id_08']

In [19]:
df_train = df_train.drop(col_null_over90, axis=1)
df_test = df_test.drop(col_null_over90, axis=1)

In [20]:
cat_col = [col for col in cat_col if col not in cat_col_null_over90]
num_col = [col for col in num_col if col not in num_col_null_over90]

`sklearn`의 분류기들은 Null 값을 입력인자로 받지 못한다.

In [21]:
for col in cat_col :
    if df_train[col].isnull().sum() != 0 :
        df_train[col].fillna(value='NaN', inplace=True) # NaN 범주로 결측값 처리

In [22]:
for col in num_col :
    if df_train[col].isnull().sum() != 0 :
        df_train[col].fillna(df_train[col].mean(), inplace=True) # 평균값으로 결측치 처리

# 4. Encoding

In [23]:
for col in cat_col :
    if col in df_train.columns :
        le = LabelEncoder()
        le.fit(list(df_train[col].astype(str).values) + list(df_test[col].astype(str).values))
        df_train[col] = le.transform(list(df_train[col].astype(str).values))
        df_test[col] = le.transform(list(df_test[col].astype(str).values))

# 5. Set X, y

In [24]:
y_train = df_train['isFraud']
X_train = df_train.drop('isFraud', axis=1)
X_test = df_test

## 5.1 Make Validation set

In [25]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=1234)

# 6. Modeling

In [26]:
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_valid)
print("DecisionTreeClassifier's roc_auc_score : {0:.4f}".format(roc_auc_score(y_valid, dt_pred)))

DecisionTreeClassifier's roc_auc_score : 0.7884

In [27]:
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_valid)
print("RandomForestClassifier's roc_auc_score : {0:.4f}".format(roc_auc_score(y_valid, rf_pred)))

RandomForestClassifier's roc_auc_score : 0.7142

In [ ]:
lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_valid)
print("LogisticRegression's roc_auc_score : {0:.4f}".format(roc_auc_score(y_valid, lr_pred)))